*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar2{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 10px;
    background-color: pink;
    height: 10vh;
    width: 100vw;
    color: black;
    position: relative;
    left: 0%;
}


#image{
    border: none;
    border-radius: 150px;
}
.image1{
    background-color: antiquewhite;
    /*box-shadow: 8px 8px 20px;*/
    filter: drop-shadow(2px 2px 40px blue);
    width: 700px;
    height: 30vh;
    border-radius: 70px;
    margin: 1rem;
    position: relative;
    left: 300px;
}

.image1:hover{
    transform: translate(1,1);
    transition: 2s ease-in;
}
body{
    background-color: black;
    color: white;
}

.images2{
    display: flex;
    gap: 8px;
    border-radius: 20%;
    border-radius: 50%;
}
#whatsup{
    border-radius: 80px;
    height: 40px;
    width: 40px;
}
#whatsup:hover{
    transform: translate(1,1);
    transition: 2s ease-in;
    color: antiquewhite;
    background-color: black;
}
#insta{
    border-radius: 100px;
    height: 40px;
    width: 40px;
}
#tiktok{
    border-radius: 100px;
    height: 40px;
    width: 40px;
}
#facebook{
    border-radius: 100px;
    height: 40px;
    width: 40px;
}
#snap{
    border-radius: 100px;
    height: 40px;
    width: 40px;
}
ul{
    display: grid;
    gap: 1%;
    list-style: none;

}
.footer-link{
    display: flex;
}
footer{
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    color: rgb(238, 6, 6);
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-template-columns: repeat(4, 1fr);
    position: static;
    bottom: 0%
}
h1{
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300px;
    color: burlywood;
}
footer:hover{
    transform: translate(1,1);
    transition: 2s ease-in;
    color: antiquewhite;
    background-color: black;
}
main{
    display: flex;
    gap: 1.5rem;
    position: relative;
    left: 300px;
    filter: drop-shadow(1px 1px 20px pink);
}
main:hover{
    transform: scale(1,1);
    transition: all 2s;
}
button{
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 800px;
    width: 60px;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
}
.text{
    display: grid;
    position: absolute;
    top: 100px;
    right: 90px;
    height: 50%;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

.about{
    background-color: black;
    color: white;
    width: 200px;
    border: none;
    border-radius: 15px;
    text-align: center;
}
span{
    color: wheat;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
}
.contact{
    background-color: black;
    color: white;
    width: 90vw;
    height: 40vh;
    align-items: center;
    border: none;
    display: grid;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    filter: drop-shadow(2px 2px 40px blue);
}
label{
    display: flex;
    position: relative;
    left: 100px;
}
input{
    width: 300px;
    height: 2rem;
    border: none;
    border-radius: 10px;
}
#message{
    height: 4.5rem;
}
form{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    position : relative;
    right: 4%;
    align-items: center;
    justify-content: center;
}

.skills{
    background-color: black;
    color: white;
    width: 200px;
    border: none;
    border-radius: 15px;
    text-align: center;
}
.project{
    background-color: black;
    color: white;
    width: 200px;
    border: none;
    border-radius: 15px;
    text-align: center;
}
.best-all{
    background-color: black;
    color: white;
    width: 200px;
    border: none;
    border-radius: 15px;
    text-align: center;
}